.header { 
    height: 95vh;
  /*      background-image: linear-gradient( 
        rgba($color-light, 0.5), 
        rgba($color-dark, 0.5), 
        url('../img/asianbowl.jpg'));     */
        
    background-image: url(../img/asianbowl.jpg);

    background-size: cover;
    background-position: bottom;
    position: relative; /* Reference for the positioning of the logo */

    &__logo-area {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &__logo {
        height: 30rem;
    }
    
    &__text-box {
        position: absolute;
        text-align: center;
        top: 45%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}

